<div class="table-row hovered" *ngFor="let expense of expenses" (click)="rowClick(expense)">
        <div class="table-cell">{{expense.name}}</div>
        <div class="table-cell">{{expense.sum}}</div>
        <div class="table-cell">{{expense.currency}}</div>
        <div class="table-cell">{{expense.total}}</div>
        <div class="table-cell"><span class="btn minus-button" (click)="removeExpense(expense)">-</span></div>
</div>
