<app-alert/>
<div class="table">
    <div class="table-row table-header">
        <div class="table-cell">Поступление USD: {{usdSumInput}}</div>
        <div class="table-cell">Курс USD: {{cursUSD}}</div>
        <div class="table-cell">В рублях: {{totalAmountBYB}}</div>
        <div class="table-cell">Остаток: {{remainder}}</div>
    </div>
</div>
<form class="card" [formGroup]="form" (submit)="submit()">
    <div class="curs-row">
        <div class="curs-row">
            <div class="curs-cell">
                <div class="form-control">
                    <label>Сумма USD
                        <input type="text">
                    </label>
                </div>
            </div>
            <div class="curs-cell">
                <button
                        type="submit"
                        class="btn btn-dark"
                >Пересчитать
                </button>
            </div>
        </div>

        <div class="curs-row">
            <div class="curs-cell">
                <div class="form-control">
                    <label>Курс
                        <input type="text" formControlName="curs">
                    </label>
                </div>
            </div>
            <div class="curs-cell">
                <button
                        type="submit"
                        class="btn btn-dark"
                >Пересчитать
                </button>
            </div>
        </div>

    </div>
</form>
<div class="table">
    <div class="table-row table-header">
        <div class="table-cell">Наименование статьи</div>
        <div class="table-cell">Сумма в валюте</div>
        <div class="table-cell">Тип валюты</div>
        <div class="table-cell">Сумма в BYN</div>
        <div class="table-cell"></div>
        <button class="plus-button" (click)="onClickPlus()">+</button>
    </div>
    <app-expenses [expenses]="expensesData" (remove)="removeExpense($event)" (expense)="editExpense($event)" ></app-expenses>

<!--    <div class="curs-cell">-->
<!--        <button-->
<!--                type="button"-->
<!--                class="btn btn-dark"-->
<!--                (click)="save()"-->
<!--        >Сохранить-->
<!--        </button>-->
<!--    </div>-->

</div>

<app-modal *ngIf="modalService.isOpen$ | async">
    <!-- Содержимое модального окна -->
    <form class="card" [formGroup]="formModal" >
        <div class="curs-row">
            <div class="curs-row">
                <div class="curs-cell">
                    <div class="form-control">
                        <label>Наименование статьи расходов
                            <input type="text" formControlName="nameModal">
                        </label>
                    </div>
                </div>
                <div class="curs-cell">
                </div>
            </div>

            <div class="curs-row">
                <div class="curs-cell">
                    <div class="form-control">
                        <label>Тип валюты
                            <ng-select formControlName="currencyModal" [searchable]="false" [clearable]="false">
                                <ng-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ng-option>
                            </ng-select>
                        </label>
                    </div>
                </div>
                <div class="curs-cell">
                </div>
            </div>

            <div class="curs-row">
                <div class="curs-cell">
                    <div class="form-control">
                        <label>Сумма расходов
                            <input type="text" formControlName="sumModal">
                        </label>
                    </div>
                </div>
            </div>
            <div class="curs-cell">
                <button
                        type="submit"
                        class="btn btn-dark"
                        (click)="addExpenseSubmit()"
                >{{formModal.get('id')?.value ? 'Обновить' : 'Добавить'}} статью расходов
                </button>
            </div>
        </div>
    </form>
</app-modal>




