<nav class="navbar bg-primary">
    <h1>
        <a routerLink="/">Финансовый монитор</a>
    </h1>
    <ul>
<!--        <li routerLinkActive="active">-->
<!--            <a [routerLink]="['', 'create']">Создать</a>-->
<!--        </li>-->
        <li>
            <a href="#" (click)="logout($event)">Выход</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet/>
</div>
