<nav class="navbar bg-primary">
    <h1>
        <a routerLink="/">AngularAdmin</a>
    </h1>
    <ul >
        <li routerLinkActive="active">
<!--            <a [routerLink]="['/admin', 'create']">Создать</a>-->
        </li>
        <li>
            <a (click)="logout($event)">Выход</a>
        </li>
    </ul>
</nav>

<div class="container">
    <router-outlet/>
</div>
